#Wrapper {
  min-height: 782px;
  font-size: 1rem;
  background: #282627;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1367px) {
    #Wrapper {
      min-height: 512px; } }

#Wrapper {
  padding: 20px; }
  #Wrapper .inner-wrapper {
    width: auto;
    margin: 20px;
    padding: 5px 20px;
    background: rgba(35, 68, 86, 0.3);
    border: 1px solid rgba(245, 245, 245, 0.4);
    border-radius: 2px; }
    #Wrapper .inner-wrapper .top-section .btn-cointainer {
      display: flex;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; }
      #Wrapper .inner-wrapper .top-section .btn-cointainer a {
        display: block;
        text-align: center;
        background: #234456;
        color: #F5F5F5;
        border: 1px solid rgba(245, 245, 245, 0.4);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        width: 120px;
        align-self: flex-start;
        text-decoration: none; }
        #Wrapper .inner-wrapper .top-section .btn-cointainer a:hover {
          background: #F5F5F5;
          color: #234456;
          border: 1px solid #282627; }
        #Wrapper .inner-wrapper .top-section .btn-cointainer a:visited, #Wrapper .inner-wrapper .top-section .btn-cointainer a:visited:hover {
          color: #F5F5F5;
          text-decoration: none; }
        #Wrapper .inner-wrapper .top-section .btn-cointainer a:visited {
          text-decoration: none; }
    #Wrapper .inner-wrapper .top-section h1 {
      width: 100%;
      text-align: center;
      border: none;
      padding-top: 30px;
      font-size: 2rem;
      padding: 0; }
    #Wrapper .inner-wrapper section {
      margin: 10px 0; }
      #Wrapper .inner-wrapper section h1 {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 8px 4px;
        color: #F5F5F5;
        border-bottom: 2px solid #F5F5F5; }
      #Wrapper .inner-wrapper section .projects {
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around; }
        #Wrapper .inner-wrapper section .projects .container {
          width: 200px;
          height: 200px;
          border: 1px solid rgba(245, 245, 245, 0.4);
          border-radius: 8px;
          margin: 10px 5px;
          display: flex;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          background: url("http://placehold.it/200x200"), #234456;
          cursor: pointer;
          -moz-transition: all 2s;
          -o-transition: all 2s;
          -webkit-transition: all 2s;
          transition: all 2s; }
          #Wrapper .inner-wrapper section .projects .container h3 {
            align-self: flex-end;
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5px 10px;
            font-size: 1.3rem;
            text-align: center;
            border-top: 1px solid rgba(245, 245, 245, 0.4);
            border-radius: 0 0 7.8px 7px;
            color: #8f8f8f;
            text-transform: capitalize; }
          #Wrapper .inner-wrapper section .projects .container:hover {
            width: 250px;
            height: 250px; }
        #Wrapper .inner-wrapper section .projects .container:nth-of-type(odd) {
          background: #234456; }

/*# sourceMappingURL=manage-projects.css.map */