$MainColor: #282627;
//$MainColor: #ff0000;
$SecColor: #195039;
$SecColor: #234456;
//$SecColor: #ff8400;
//$SecColor: adjust_hue(#195039, 160%);
$ShadowColor: darken($SecColor, 10%);
$FontColor: #F5F5F5;
//$FontColor: lighten($SecColor, 90%);
$BorderColor: rgba($FontColor, 0.4);
$OpacitySec: rgba($SecColor, 0.3);

@mixin buttonLayout {
    text-align: center;
    background: $SecColor;
    color: $FontColor;
    border: 1px solid $BorderColor;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    //background: red;
    &:hover {
        background: $FontColor;
        color: $SecColor;
        border: 1px solid $MainColor;
    }

    &:visited, &:visited:hover {
        color: $FontColor;
        text-decoration: none;
    }
}

@mixin fieldIconLeft {
    display: block;
    width: 250px;
    height: 22px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-size: 10% auto;
    color: $SecColor;

    &:focus {
        text-align: left;
        width: 225px;
        padding-left: 25px;
        outline: 0;
        color: $SecColor;
    }
}

@mixin icon-position {
    background-size: 9%;
    background-position: 1px 1px;
}

@mixin inputLayout {
    display: block;
    border: none;
    border-radius: 4px;
    padding: 6px;
    color: $SecColor;
    background: $FontColor;

    &:focus {
        outline: 0;
        color: $SecColor;
    }
}

@mixin borderForms {
    border: 1px solid $BorderColor;
    border-radius: 2px;
}

#Wrapper {
    //height: 550px;
    min-height: 782px;
    font-size: 1rem;
    background: $MainColor;
    //background: red;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @media screen and (max-width: 1367px) {
        min-height: 512px;
    }
}
