@import "Utility.scss";

@mixin h2Style {
    width: 100%;
    padding: 10px 0 10px 10px;
    color: $FontColor;
}

@mixin formCommon {
    border: none;
    background: $FontColor;
    text-align: center;
    cursor: pointer;
}

@mixin formLeft {
    @include formCommon;
    border-radius: 5px 0 0 5px;
    order: 1;
    width: 90%;
    flex-grow: 1;
    //background: blue !important;
}

@mixin formRight {
    @include formCommon;
    border-radius: 0 5px 5px 0;
    order: 2;
    flex-grow: 1;
    font-size: 2rem;
    //background: blue !important;
}

@mixin submitButton {
    @include buttonLayout;
    order: 2;
    //width: 8%;
    flex-grow: 1;
    height: 77px;
    align-self: flex-end;
    margin: 0 5px 17px 5px;
}

input[type=text], textarea {
    color: $MainColor;
}

#Wrapper {
    //background: red;
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;

    .avatar-edit, .social-edit, .user-container, .knowledge-container {
        @include borderForms;
    }



    .left-edit {
        order: 1;
        width: 24%;
        flex-grow: 0;
        //background: red;
        //border-right: 1px solid red;
        .avatar-edit, .social-edit, .projects-edit {
            //border: 1px solid green;
            margin: 20px;
            //fix align;
            padding-bottom: 10px;
        }

        .avatar-edit {
            background: $OpacitySec;
            display: flex;
            flex-flow: column wrap;

            img {
                align-self: center;
                padding-top: 10px;
                width: 200px;
                height: 150px;
            }

            .upload-container {
                //background: blue;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;

                input[type=file] {
                    @include buttonLayout;
                    padding: 6px 23px;
                    flex-grow: 1;
                    margin: 10px;
                }

                input[type=submit] {
                    @include buttonLayout;
                    padding: 8px 0;
                    flex-grow: 1;
                    margin: 0 10px;
                }
            }
        }

        .social-edit {
            background: $OpacitySec;

            h2 {
                @include h2Style;
            }

            input[type=text] {
                @include fieldIconLeft;
                width: 230px;
                border-radius: 5px;
                margin: 12px auto;
                background: url(/Images/username.png) no-repeat, $FontColor;
                @include icon-position;
            }

            input[type=submit] {
                @include buttonLayout;
                padding: 8px 0;
                width: 95%;
                margin: 5px 2.5%;
            }
        }

        .projects-edit {
            background: $OpacitySec;
            color: $FontColor;
            display: none;

            h2 {
                @include h2Style;
            }

            a {
                display: block;
                @include buttonLayout;
                padding: 6px 0;
                color: $FontColor;
                text-decoration: none;
                width: 95%;
                margin: 5px 2.5%;
                text-align: center;

                &:visited {
                    text-decoration: none;
                    color: $FontColor;
                }
            }
        }
    }

    .right-edit {
        order: 2;
        width: 60%;
        flex-grow: 1;
        //background: blue;
        //border-left: 1px solid blue;
        .user-container, .knowledge-container {
            //border: 1px solid green;
            background: $OpacitySec;
            margin: 20px;
        }

        .user-container {
            h2 {
                @include h2Style;
            }

            display: flex;
            flex-flow: row wrap;

            .user-info-edit {
                order: 1;
                //border: 1px solid red;
                width: 90%;
                flex-grow: 0;
                //Align left and right part height
                margin-bottom: 16px;

                .input-row {
                    display: flex;
                    flex-flow: row wrap;
                    //height: 30px;
                    //background: red;
                    input[type=text] {
                        border: none;
                        background: $FontColor;
                        text-align: center;
                        outline: 0;
                        border-radius: 5px;
                        width: 45%;
                        flex-grow: 1;
                        margin: 5px 0 5px 9px;
                        height: 30px;
                        padding-left: 7px;
                        //background: red;
                        &:focus {
                            text-align: left;
                        }
                    }

                    textarea {
                        //background: red;
                        background: $FontColor;
                        outline: 0;
                        flex-grow: 1;
                        margin: 5px 0 0 9px;
                        max-width: 100%;
                        height: 63px;
                        border: none;
                        border-radius: 5px;
                        padding-left: 7px;
                        //Align left and right panels
                        padding-top: 10px;
                        //margin: 5px 5px 10px 5px;
                    }
                }
            }

            input[type="submit"] {
                @include submitButton;
                margin-bottom: 15px;
            }
        }

        .knowledge-container {
            display: flex;
            flex-flow: row wrap;

            h2 {
                @include h2Style;
            }

            .knowledge-edit {
                order: 1;
                //border: 1px solid red;
                width: 90%;
                flex-grow: 0;
                display: flex;
                flex-flow: row wrap;
                //Align left and right panels
                margin-bottom: 11px;

                .language {
                    //border: 1px solid black;
                    //42% 5 0 5 9
                    width: 27%;
                    margin: 5px 0 8px 16px;
                    flex-grow: 1;
                    display: flex;
                    flex-flow: column wrap;


                    .language-row {
                        display: flex;
                        flex-flow: row wrap;

                        input {
                            @include formLeft;
                        }

                        span {
                            @include formRight;
                        }
                    }

                    .hidden-menu-edit {
                        display: none;
                        //display: flex;
                        flex-flow: column wrap;
                        //position: relative;
                        li {
                            align-self: flex-end;
                            width: 50%;
                            border-radius: 5px;
                            //background: red;
                            background: $FontColor;
                            text-align: center;
                            border-top: 1px solid $SecColor;
                            padding: 5px 0;
                            cursor: pointer;

                            &:hover {
                                background: $SecColor;
                                color: $FontColor;
                            }
                        }
                    }
                }
            }

            input[type="submit"] {
                @include submitButton;
            }
        }
    }
}
