body {
    width: auto;
    height: auto;
    background: #ead3d3;
}

#Wrapper {
    margin: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}

    #Wrapper fieldset {
        border: none;
    }

fieldset input[type="text"],
fieldset input[type="password"] {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #ead3d3;
    margin: 2rem 0 2rem 0;
}

fieldset input[type="submit"] {
    width: 100%;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: black;
    padding: 0.7rem 0 0.7rem 0;
}

    fieldset input[type="submit"]:hover {
        background: green;
        color: #ead3d3;
        border-radius: 5px;
    }
