@import "reset.css";
@import "Utility.scss";

body {
    //background: $MainColor;
    max-width: 1280px;
    margin: 0 auto;
    //background: $SecColor;
    //border: 1px solid $MainColor;
}

#main-header {
    width: auto;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    //border: 1px solid black;
    background: $MainColor;
    border-bottom: 1px solid $BorderColor;

    .logo {
        width: 200px;
        //border: 1px solid red;
        /*background: url("../Images/logo.png") no-repeat;
        background-size: 100%;
        background-position: 0 14px;*/
        order: 1;
        flex-grow: 0;
        cursor: pointer;
        display: flex;
        flex-flow: column wrap;
        align-self: flex-end;

        svg {
            background: $MainColor;

            .svg-back-color {
                fill: $MainColor;
                //fill: red;
            }

            .svg-sec-color {
                fill: $SecColor;
                //fill: blue;
            }

            .svg-font-color {
                fill: darken($FontColor, 20%);
               // fill: yellow;
            }

            .svg-font-shadow {
                fill: $ShadowColor;
            }
        }
    }

    #header-wrapper {
        order: 2;
        flex-grow: 5;
        //border: 1px solid red;
        display: flex;
        flex-flow: column;

        #search {
            //border: 1px solid red;
            text-align: right;
            padding: 15px 2% 0 0;
            order: 1;
            flex-grow: 0;

            input[type="text"] {
                border: none;
                background: $SecColor;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                width: 150px;
                height: 22px;
                padding: 0 7px;
                text-align: center;
                color: $FontColor;

                &:focus {
                    background: $FontColor;
                    color: $SecColor;
                    text-align: left;
                    outline: 0;
                    border: none;
                }
            }

            input[type="submit"] {
                border: none;
                background: url("/Images/magnifying_glass_White.png") no-repeat, $SecColor;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                border-left: 1px solid $MainColor;
                width: 30px;
                height: 22px;
                color: $FontColor;
                background-position: 8px 4px;
                background-size: 47% auto;
                cursor: pointer;

                &:hover {
                    background: url("/Images/magnifying_glass.png") no-repeat, $FontColor;
                    color: $SecColor;
                    background-position: 8px 4px;
                    background-size: 47% auto;
                }
            }
        }

        #controls {
            //border: 1px solid yellow;
            order: 2;
            flex-grow: 5;
            display: flex;
            flex-flow: row;

            #nav-menu {
                //border: 1px solid black;
                align-self: flex-end;
                order: 1;
                flex-grow: 1;

                ul {
                    //border: 1px solid red;
                    display: flex;
                    flex-flow: row;
                    justify-content: center;

                    &:after {
                        content: "";
                        height: 0;
                        display: block;
                        clear: both;
                    }

                    li {
                        float: left;
                        justify-content: center;
                        border-top: 1px solid $SecColor;

                        &:first-of-type {
                            border-left: 1px solid $SecColor;
                            border-top-left-radius: 10px;
                        }

                        &:last-of-type {
                            border-right: 1px solid $SecColor;
                            border-top-right-radius: 10px;
                        }

                        &:first-of-type a:hover {
                            border-top-left-radius: 8px;
                        }

                        &:last-of-type a:hover {
                            border-top-right-radius: 8px;
                        }

                        a {
                            display: block;
                            padding: 10px 55px;
                            text-decoration: none;
                            color: $FontColor;
                            text-transform: uppercase;
                            font-size: 1rem;

                            &:visited {
                                text-decoration: none;
                                color: $FontColor;
                            }

                            &:hover, &:visited:hover {
                                background: $SecColor;
                            }
                        }
                    }
                }
            }

            #user-label {
                order: 1;
                align-self: flex-end;
                color: $FontColor;
                //border: 1px solid red;
                margin-right: 2%;
                margin-left: 5%;
                padding-bottom: 5px;
                font-size: 1rem;

                #hello {
                    display: inline-block;
                    overflow: hidden;
                }

                #user-name {
                    //border: 1px solid red;
                    font-weight: 700;
                    width: 140px;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:hover {
                        color: $SecColor;
                        cursor: pointer;
                    }
                }
                //Drop-down
                ul {
                    display: inline-block;

                    li {
                        //border: 1px solid red;
                        &:hover ul {
                            position: absolute;
                            display: block;
                            z-index: 1;
                        }

                        ul {
                            width: 140px;
                            //border: 1px solid red;
                            display: none;

                            li {
                                text-align: center;

                                &:first-of-type a {
                                    border-radius: 5px 5px 0 0;
                                }

                                &:last-of-type a {
                                    border-radius: 0 0 5px 5px;
                                }

                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    padding: 5px 0;
                                    background: $SecColor;
                                    color: $FontColor;
                                    text-decoration: none;
                                    border: 1px solid $MainColor;

                                    &:hover {
                                        color: $SecColor;
                                        text-decoration: none;
                                        background: $FontColor;
                                    }

                                    &:visited {
                                        color: $SecColor;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#content-page {
    height: auto;
    width: auto;
}

#main-footer {
    width: auto;
    height: 50px;
    //background: $OpacitySec;
    background: $SecColor;
    font-size: 1rem;
    color: $FontColor;
    display: flex;
    flex-flow: column;
    border-top: 1px solid $BorderColor;

    div:first-of-type {
        flex-grow: 5;
        text-align: left;
        padding: 8px 2%;

        .social-media {
            width: 32px;
            height: 32px;
            border: none;
            cursor: pointer;
        }

        #Facebook {
            background: url("../Images/facebook.png") no-repeat;

            &:hover {
                background: url("../Images/facebook_w.png") no-repeat;
            }
        }

        #Tweeter {
            background: url("../Images/twitter.png") no-repeat;

            &:hover {
                background: url("../Images/twitter_w.png") no-repeat;
            }
        }

        #GooglePlus {
            background: url("../Images/google.png") no-repeat;

            &:hover {
                background: url("../Images/google_w.png") no-repeat;
            }
        }

        #LinkedIn {
            background: url("../Images/linkedin.png") no-repeat;

            &:hover {
                background: url("../Images/linkedin_w.png") no-repeat;
            }
        }

        #GitHub {
            background: url("../Images/github.png") no-repeat;

            &:hover {
                background: url("../Images/github_w.png") no-repeat;
            }
        }
    }

    div:last-of-type {
        flex-grow: 0;
        text-align: right;
        padding: 0 2% 10px 2%;
    }
}
