@import url(reset.css);
body {
  max-width: 1366px; }

header {
  width: auto;
  height: 7.5rem;
  display: flex;
  flex-flow: row wrap;
  background: #282627; }
  header #logo {
    width: 300px;
    height: 100%;
    background: #195039;
    order: 1;
    flex-grow: 0; }
  header #header-wrapper {
    order: 2;
    flex-grow: 5;
    display: flex;
    flex-flow: column; }
    header #header-wrapper #search {
      text-align: right;
      padding: 2% 2% 0 0;
      order: 1;
      flex-grow: 0; }
      header #header-wrapper #search input[type="text"] {
        border: none;
        background: #195039;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 10rem;
        height: 1.4rem;
        padding: 0 0.3rem; }
        header #header-wrapper #search input[type="text"]:focus {
          background: #fff;
          color: #195039; }
      header #header-wrapper #search input[type="submit"] {
        border: none;
        background: #195039;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 1px solid #282627;
        width: 2rem;
        height: 1.4rem;
        color: #fff; }
        header #header-wrapper #search input[type="submit"]:hover {
          background: #fff;
          color: #282627; }
    header #header-wrapper #controls {
      order: 2;
      flex-grow: 5;
      display: flex;
      flex-flow: row; }
      header #header-wrapper #controls #nav-menu {
        align-self: flex-end;
        order: 1;
        flex-grow: 1; }
        header #header-wrapper #controls #nav-menu ul {
          display: flex;
          flex-flow: row;
          justify-content: center; }
          header #header-wrapper #controls #nav-menu ul:after {
            content: "";
            height: 0;
            display: block;
            clear: both; }
          header #header-wrapper #controls #nav-menu ul li {
            float: left;
            justify-content: center;
            border: 1px solid #195039; }
            header #header-wrapper #controls #nav-menu ul li:first-of-type {
              border-top-left-radius: 5px; }
            header #header-wrapper #controls #nav-menu ul li:last-of-type {
              border-top-right-radius: 5px; }
            header #header-wrapper #controls #nav-menu ul li:first-of-type a:hover {
              border-top-left-radius: 3px; }
            header #header-wrapper #controls #nav-menu ul li:last-of-type a:hover {
              border-top-right-radius: 3px; }
            header #header-wrapper #controls #nav-menu ul li a {
              display: block;
              padding: 0.5rem 4rem;
              text-decoration: none;
              color: #fff;
              text-transform: uppercase;
              font-size: 1rem; }
              header #header-wrapper #controls #nav-menu ul li a:visited {
                text-decoration: none;
                color: #fff; }
              header #header-wrapper #controls #nav-menu ul li a:hover, header #header-wrapper #controls #nav-menu ul li a:visited:hover {
                background: #195039;
                color: #282627; }
      header #header-wrapper #controls #user-label {
        order: 1;
        align-self: flex-end;
        color: #fff;
        margin-right: 2%;
        margin-left: 5%;
        padding-bottom: 0.75rem;
        font-size: 1rem; }
        header #header-wrapper #controls #user-label div {
          display: inline-block; }
        header #header-wrapper #controls #user-label span {
          font-weight: 700; }
          header #header-wrapper #controls #user-label span:hover {
            color: #195039; }
        header #header-wrapper #controls #user-label:after {
          content: "arr"; }

#content-page {
  margin: 5%;
  min-height: 30rem;
  width: auto; }

footer {
  width: auto;
  height: 4rem;
  background: #195039;
  font-size: 1rem;
  color: #fff;
  display: flex;
  flex-flow: column; }
  footer div:first-of-type {
    flex-grow: 5;
    text-align: left;
    padding: 0.5rem 2%; }
  footer div:last-of-type {
    flex-grow: 0;
    text-align: right;
    padding: 0.5rem 2%; }

/*# sourceMappingURL=MasterPage.css.map */