@import url(reset.css);
#Wrapper {
  min-height: 782px;
  font-size: 1rem;
  background: #282627;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1367px) {
    #Wrapper {
      min-height: 512px; } }

body {
  background: #282627;
  max-width: 1550px;
  margin: 0 auto; }

#main-header {
  width: auto;
  height: 100px;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #282627;
  border: 1px solid rgba(245, 245, 245, 0.4);
  border-top: none; }
  #main-header .logo {
    width: 200px;
    /*background: url("../Images/logo.png") no-repeat;
        background-size: 100%;
        background-position: 0 14px;*/
    order: 1;
    flex-grow: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    align-self: flex-end; }
    #main-header .logo svg {
      background: #282627; }
      #main-header .logo svg .svg-back-color {
        fill: #282627; }
      #main-header .logo svg .svg-sec-color {
        fill: #195039; }
      #main-header .logo svg .svg-font-color {
        fill: #c2c2c2; }
      #main-header .logo svg .svg-font-shadow {
        fill: #0d291d; }
  #main-header #header-wrapper {
    order: 2;
    flex-grow: 5;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column; }
    #main-header #header-wrapper #search {
      text-align: right;
      padding: 15px 2% 0 0;
      order: 1;
      flex-grow: 0; }
      #main-header #header-wrapper #search input[type="text"] {
        border: none;
        background: #195039;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 150px;
        height: 22px;
        padding: 0 7px;
        text-align: center;
        color: #F5F5F5; }
        #main-header #header-wrapper #search input[type="text"]:focus {
          background: #F5F5F5;
          color: #195039;
          text-align: left;
          outline: 0;
          border: none; }
      #main-header #header-wrapper #search input[type="submit"] {
        border: none;
        background: url("/Images/magnifying_glass_White.png") no-repeat, #195039;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 1px solid #282627;
        width: 30px;
        height: 22px;
        color: #F5F5F5;
        background-position: 8px 4px;
        background-size: 47% auto;
        cursor: pointer; }
        #main-header #header-wrapper #search input[type="submit"]:hover {
          background: url("/Images/magnifying_glass.png") no-repeat, #F5F5F5;
          color: #195039;
          background-position: 8px 4px;
          background-size: 47% auto; }
    #main-header #header-wrapper #controls {
      order: 2;
      flex-grow: 5;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
      #main-header #header-wrapper #controls #nav-menu {
        align-self: flex-end;
        order: 1;
        flex-grow: 1; }
        #main-header #header-wrapper #controls #nav-menu ul {
          display: flex;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          justify-content: center; }
          #main-header #header-wrapper #controls #nav-menu ul:after {
            content: "";
            height: 0;
            display: block;
            clear: both; }
          #main-header #header-wrapper #controls #nav-menu ul li {
            float: left;
            justify-content: center;
            border-top: 1px solid #195039; }
            #main-header #header-wrapper #controls #nav-menu ul li:first-of-type {
              border-left: 1px solid #195039;
              border-top-left-radius: 10px; }
            #main-header #header-wrapper #controls #nav-menu ul li:last-of-type {
              border-right: 1px solid #195039;
              border-top-right-radius: 10px; }
            #main-header #header-wrapper #controls #nav-menu ul li:first-of-type a:hover {
              border-top-left-radius: 8px; }
            #main-header #header-wrapper #controls #nav-menu ul li:last-of-type a:hover {
              border-top-right-radius: 8px; }
            #main-header #header-wrapper #controls #nav-menu ul li a {
              display: block;
              padding: 10px 55px;
              text-decoration: none;
              color: #F5F5F5;
              text-transform: uppercase;
              font-size: 1rem; }
              #main-header #header-wrapper #controls #nav-menu ul li a:visited {
                text-decoration: none;
                color: #F5F5F5; }
              #main-header #header-wrapper #controls #nav-menu ul li a:hover, #main-header #header-wrapper #controls #nav-menu ul li a:visited:hover {
                background: #195039; }
      #main-header #header-wrapper #controls #user-label {
        order: 1;
        align-self: flex-end;
        color: #F5F5F5;
        margin-right: 2%;
        margin-left: 5%;
        padding-bottom: 5px;
        font-size: 1rem; }
        #main-header #header-wrapper #controls #user-label #hello {
          display: inline-block;
          overflow: hidden; }
        #main-header #header-wrapper #controls #user-label #user-name {
          width: 140px;
          -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden; }
          #main-header #header-wrapper #controls #user-label #user-name a {
            font-weight: 700;
            color: #F5F5F5;
            text-decoration: none; }
            #main-header #header-wrapper #controls #user-label #user-name a:visited, #main-header #header-wrapper #controls #user-label #user-name a:visited:hover {
              color: #F5F5F5;
              text-decoration: none; }
            #main-header #header-wrapper #controls #user-label #user-name a:hover {
              color: #195039; }
        #main-header #header-wrapper #controls #user-label #login-user {
          display: none;
          width: 140px;
          -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          overflow: hidden; }
          #main-header #header-wrapper #controls #user-label #login-user a {
            font-weight: 700;
            color: #F5F5F5; }
            #main-header #header-wrapper #controls #user-label #login-user a:hover {
              color: #195039; }
        #main-header #header-wrapper #controls #user-label ul {
          display: inline-block; }
          #main-header #header-wrapper #controls #user-label ul li {
            /*&:hover ul {
                            position: absolute;
                            display: block;
                            z-index: 1;
                        }*/ }
            #main-header #header-wrapper #controls #user-label ul li #dropDown {
              width: 140px;
              display: none;
              position: absolute;
              z-index: 1;
              margin-top: 2px; }
              #main-header #header-wrapper #controls #user-label ul li #dropDown li {
                text-align: center; }
                #main-header #header-wrapper #controls #user-label ul li #dropDown li:first-of-type a {
                  border-radius: 5px 5px 0 0; }
                #main-header #header-wrapper #controls #user-label ul li #dropDown li:last-of-type a {
                  border-radius: 0 0 5px 5px; }
                #main-header #header-wrapper #controls #user-label ul li #dropDown li a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding: 5px 0;
                  background: #195039;
                  color: #F5F5F5;
                  text-decoration: none;
                  border: 1px solid #282627; }
                  #main-header #header-wrapper #controls #user-label ul li #dropDown li a:hover {
                    color: #195039;
                    text-decoration: none;
                    background: #F5F5F5; }
                  #main-header #header-wrapper #controls #user-label ul li #dropDown li a:visited {
                    color: #195039;
                    text-decoration: none; }

#content-page {
  height: auto;
  width: auto; }

#main-footer {
  width: auto;
  height: 50px;
  background: rgba(25, 80, 57, 0.3);
  font-size: 1rem;
  color: #F5F5F5;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  border: 1px solid rgba(245, 245, 245, 0.4);
  /*border-bottom: none;*/ }
  #main-footer div:first-of-type {
    flex-grow: 5;
    text-align: left;
    padding: 8px 2%; }
    #main-footer div:first-of-type .social-media {
      width: 32px;
      height: 32px;
      border: none;
      cursor: pointer; }
    #main-footer div:first-of-type #Facebook {
      background: url("../Images/facebook.png") no-repeat; }
      #main-footer div:first-of-type #Facebook:hover {
        background: url("../Images/facebook_w.png") no-repeat; }
    #main-footer div:first-of-type #Tweeter {
      background: url("../Images/twitter.png") no-repeat; }
      #main-footer div:first-of-type #Tweeter:hover {
        background: url("../Images/twitter_w.png") no-repeat; }
    #main-footer div:first-of-type #GooglePlus {
      background: url("../Images/google.png") no-repeat; }
      #main-footer div:first-of-type #GooglePlus:hover {
        background: url("../Images/google_w.png") no-repeat; }
    #main-footer div:first-of-type #LinkedIn {
      background: url("../Images/linkedin.png") no-repeat; }
      #main-footer div:first-of-type #LinkedIn:hover {
        background: url("../Images/linkedin_w.png") no-repeat; }
    #main-footer div:first-of-type #GitHub {
      background: url("../Images/github.png") no-repeat; }
      #main-footer div:first-of-type #GitHub:hover {
        background: url("../Images/github_w.png") no-repeat; }
  #main-footer div:last-of-type {
    flex-grow: 0;
    text-align: right;
    padding: 0 2% 10px 2%; }

/*# sourceMappingURL=MasterPage.css.map */