#Wrapper {
  min-height: 623px;
  font-size: 1rem;
  background: #282627; }

#Wrapper {
  /*display: flex;
    flex-flow: row wrap;*/
  padding: 20px; }
  #Wrapper .inner-wrapper {
    flex-grow: 1;
    /*display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-flow: row wrap;*/
    border: 1px solid rgba(245, 245, 245, 0.4);
    border-radius: 2px;
    background: rgba(25, 80, 57, 0.3);
    padding: 30px; }
    #Wrapper .inner-wrapper aside {
      width: 400px;
      float: right;
      margin-left: 20px;
      border: 1px solid rgba(245, 245, 245, 0.4);
      border-radius: 2px; }
      #Wrapper .inner-wrapper aside .bars {
        padding: 10px 10px 5px 10px; }
        #Wrapper .inner-wrapper aside .bars .couple {
          display: flex;
          flex-flow: row wrap; }
          #Wrapper .inner-wrapper aside .bars .couple span {
            text-transform: uppercase;
            align-self: center;
            padding-right: 10px;
            color: #F5F5F5;
            width: 90px;
            text-align: right; }
          #Wrapper .inner-wrapper aside .bars .couple progress[value] {
            width: 50%;
            flex-grow: 1;
            height: 30px;
            margin-bottom: 5px;
            -webkit-appearance: none;
            appearance: none; }
            #Wrapper .inner-wrapper aside .bars .couple progress[value]::-webkit-progress-bar {
              background: #c2c2c2; }
            #Wrapper .inner-wrapper aside .bars .couple progress[value]::-webkit-progress-value {
              background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #66cfa3, #195039);
              border-radius: 2px;
              background-size: 55px 30px, 100% 100%, 100% 100%; }
    #Wrapper .inner-wrapper:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
    #Wrapper .inner-wrapper .user-info {
      display: flex;
      flex-flow: row wrap;
      padding-bottom: 10px;
      border-bottom: 2px solid #F5F5F5; }
      #Wrapper .inner-wrapper .user-info .avatar {
        width: 150px;
        height: 150px;
        order: 1;
        flex-grow: 0;
        border: 1px solid rgba(245, 245, 245, 0.4);
        border-radius: 2px;
        margin-right: 10px; }
        #Wrapper .inner-wrapper .user-info .avatar img {
          width: 100%;
          height: 100%; }
      #Wrapper .inner-wrapper .user-info .details {
        width: 50%;
        flex-grow: 1;
        order: 2;
        color: #F5F5F5; }
        #Wrapper .inner-wrapper .user-info .details a {
          text-decoration: none;
          color: #F5F5F5;
          text-transform: capitalize;
          font-size: 1rem; }
          #Wrapper .inner-wrapper .user-info .details a:visited {
            text-decoration: none;
            color: #F5F5F5; }
          #Wrapper .inner-wrapper .user-info .details a:hover, #Wrapper .inner-wrapper .user-info .details a:visited:hover {
            text-decoration: underline; }
        #Wrapper .inner-wrapper .user-info .details .upper-details {
          text-align: center; }
          #Wrapper .inner-wrapper .user-info .details .upper-details h1 {
            font-size: 2.5rem; }
          #Wrapper .inner-wrapper .user-info .details .upper-details h2 {
            font-size: 1.2rem; }
        #Wrapper .inner-wrapper .user-info .details .lower-details {
          display: flex;
          flex-flow: row wrap;
          margin-top: 20px; }
          #Wrapper .inner-wrapper .user-info .details .lower-details div {
            width: 30%;
            flex-grow: 1; }
          #Wrapper .inner-wrapper .user-info .details .lower-details .info-left span:first-of-type {
            display: block; }
          #Wrapper .inner-wrapper .user-info .details .lower-details .info-middle {
            text-align: center; }
            #Wrapper .inner-wrapper .user-info .details .lower-details .info-middle a {
              display: block; }
          #Wrapper .inner-wrapper .user-info .details .lower-details .info-right {
            text-align: right; }
            #Wrapper .inner-wrapper .user-info .details .lower-details .info-right a {
              display: block; }
    #Wrapper .inner-wrapper .summary {
      display: flex;
      padding: 10px;
      border-bottom: 2px solid #F5F5F5;
      margin-bottom: 10px; }
      #Wrapper .inner-wrapper .summary span {
        color: #F5F5F5;
        font-size: 1rem;
        text-align: justify; }
        #Wrapper .inner-wrapper .summary span:first-letter {
          font-size: 2rem; }
    #Wrapper .inner-wrapper .all-projects {
      width: 100%; }
      #Wrapper .inner-wrapper .all-projects h2 {
        font-size: 2rem;
        color: #F5F5F5;
        text-align: center;
        text-transform: capitalize; }
      #Wrapper .inner-wrapper .all-projects h1 {
        display: flex;
        border-bottom: 2px solid #F5F5F5;
        color: #F5F5F5; }
      #Wrapper .inner-wrapper .all-projects .projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; }
        #Wrapper .inner-wrapper .all-projects .projects .container {
          width: 300px;
          height: 200px;
          border: 1px solid rgba(245, 245, 245, 0.4);
          border-radius: 8px;
          margin: 10px 5px;
          display: flex;
          flex-flow: row wrap;
          background: url("http://placehold.it/300x200"), #195039;
          cursor: pointer; }
          #Wrapper .inner-wrapper .all-projects .projects .container h3 {
            align-self: flex-end;
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            box-sizing: border-box;
            padding: 5px 10px;
            font-size: 1.3rem;
            text-align: center;
            border-top: 1px solid rgba(245, 245, 245, 0.4);
            border-radius: 0 0 7.8px 7px;
            color: #8f8f8f;
            text-transform: capitalize; }
        #Wrapper .inner-wrapper .all-projects .projects .container:nth-of-type(odd) {
          background: #195039; }
