body {
    width: auto;
    height: auto;
    background: #AAAAAA;
}

fieldset{
    border: 0;
}

fieldset input[type="text"]{
    display: block;
    background: #ead3d3;
    margin-bottom: 3%; 
}

#Wrapper {
   display: flex;
   justify-content: center;
}