$MainColor: #282627;
$SecColor: #195039;
$FontColor: #F5F5F5;
$BorderColor: rgba($FontColor, 0.4);
$OpacitySec: rgba(25, 80, 57, 0.3);

#Wrapper {
    //height: 550px;
    min-height: 623px;
    font-size: 1rem;
}
